Source: stylepak
Section: admin
Priority: optional
Maintainer: ferreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: stylepak
Architecture: all
Depends: ${misc:Depends}, flatpak
Description: pkgdesc
